body{
	overflow-x: hidden;
}

.section-block{
	position: relative;

	&.size-xxl .container{
		padding-top: 180px;
		padding-bottom: 180px;
	}

	&.size-xl .container{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media screen and (max-width: 768px){
		&.size-xl .container{
			padding-top: 60px;
			padding-bottom: 60px;
		}
		&.size-xxl .container{
			padding-top: 120px;
			padding-bottom: 120px;
		}
	}

}


.section-block_left img,
.section-block_right img{
	max-width: 70%;
	height: auto;
}

@media screen and (max-width: 768px){

	.section-block_left img,
	.section-block_right img{
		max-width: 100%;
		height: auto;
	}
}


@media screen and (max-width: 768px){}
@media screen and (min-width: 768px){}
@media screen and (min-width: 975px){
	.section-block_left,
	.section-block_right{
		width: 50%;
	}
}

/*===================================
=            Text Sizing            =
===================================*/

.text-xl{font-size: 3.998em;line-height: 1.125;}
.text-lg{font-size: 2.827em;line-height: 1.125;}
.text-md{font-size: 1.999em;line-height: 1.125;}
.text-sm{font-size: 1em;line-height: 1.65;}

.text-lg{
	max-width: 420px;
}

.text-bold{font-weight: bold;}


// --------------------

.section-block_intro{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: center;
	margin: 0 auto;
}
.section-block_intro .text-xl{
	font-size: 75px;
	font-weight: bold;
}

.section-block_intro span{display: block;}
.section-block_intro .section-block_left{width:50%;padding-right: 15px;}
.section-block_intro .section-block_right{width:50%;padding-left: 15px;}

@media screen and (max-width: 768px){
	.section-block_intro .text-xl{
		font-size: 30px;
	}
	.section-block_intro .section-block_left{padding-right: 7.5px;}
	.section-block_intro .section-block_right{padding-left: 7.5px;}
}



.section-block_project .section-block_left{width:50%;padding-right: 15px;}
.section-block_project .section-block_right{width:50%;padding-left: 15px;}

@media screen and (max-width: 768px){
	.section-block_intro .text-xl{
		font-size: 30px;
	}
	
	.section-block_project{
		flex-direction: column;
	}

	.section-block_project .text-lg{font-size: 27px;}
	.section-block_project .text-sm{font-size: 16px;}

	.section-block_project .section-block_left,
	.section-block_project .section-block_right{
		width:100%;
	}

	.section-block_project .section-block_left{
		order: 2;
		margin-top: 30px;
	}
	.section-block_project .section-block_right{order: 1;}


	.section-block_project .section-block_left{padding: 0 15px;}
	.section-block_project .section-block_right{padding: 0 15px;}


}

/*==============================
=            Colors            =
==============================*/

.color-truewhite{color:#FFF;}
.color-trueblack{color:#000;}

.color-truewhite-o{color: rgba(255,255,255,0.7);}
.color-trueblack-o{color: rgba(0,0,0,0.7);}

/*=============================
=            Icons            =
=============================*/

.container{
	position: relative;
}

.icon-plus{
	background-image: url('../img/icon-plus.svg');
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
}

/*=====  End of Icons  ======*/