:root {
  --h1: 2.25rem;
  --h2: 1.875rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 0.875rem;

  // Grayscale
  --white: white;
  --black: hsla(0, 0%, 0%, 1);
  --white-a: hsla(0, 0%, 100%, 0.3);
  --black-a: hsla(0, 0%, 0%, 0.3);

  --grey-100: hsla(0, 0%, 87%, 1);
  --grey-200: hsla(0, 0%, 75%, 1);
  --grey-300: hsla(0, 0%, 63%, 1);
  --grey-400: hsla(0, 0%, 50%, 1);
  --grey-500: hsla(0, 0%, 42%, 1);
  --grey-600: hsla(0, 0%, 38%, 1);
  --grey-700: hsla(0, 0%, 29%, 1);
  --grey-800: hsla(0, 0%, 25%, 1);
  --grey-900: hsla(0, 0%, 17%, 1);
  --grey-100-a: hsla(0, 0%, 87%, 0.3);
  --grey-200-a: hsla(0, 0%, 75%, 0.3);
  --grey-300-a: hsla(0, 0%, 63%, 0.3);
  --grey-400-a: hsla(0, 0%, 50%, 0.3);
  --grey-500-a: hsla(0, 0%, 42%, 0.3);
  --grey-600-a: hsla(0, 0%, 38%, 0.3);
  --grey-700-a: hsla(0, 0%, 29%, 0.3);
  --grey-800-a: hsla(0, 0%, 25%, 0.3);
  --grey-900-a: hsla(0, 0%, 17%, 0.3);
}