
<div class="site-footer">
    <footer class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="site-footer--col">
                    <span class="site-footer--title">Akzidenz Grotesk</span>
                    <span>Univers</span>
                    <span>Neue Haas Grotesk</span>
                    <span>Helvetica</span>
                </div>
            </div>      
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="site-footer--col">
                    <span class="site-footer--title">Basel School of Design</span>
                    <span>Kunstgewerbeschule Zürich</span>
                    <span>McGraw-Hill</span>
                    <span>MIT</span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="site-footer--col">
                    <span class="site-footer--title">Ernst Keller</span>
                    <span>Josef Müller-Brockmann</span>
                    <span>Rudolph de Harak</span>
                    <span>Jacqueline Casey</span>                   
                </div>
            </div>
        </div>
    </footer>
</div>
